@model Rent

@{
    ViewBag.Title = "Confirm Return";
    Layout = "_Layout";
}

<h2>Confirmation</h2>

<p>Would you like to return the vehicle @Model.Vehicle.Description from @Model.Client.Name?</p>

<a asp-controller="Rent" asp-action="Index">
    <button class="btn btn-primary">Cancel</button>
</a>

@Html.ActionLink("Return", "Delete", "Rent", new {id = @Model.Id}, new { @class = "btn btn-primary" })