@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .main-menu-button { margin-bottom: 8px; }
</style>

<div class="text-center">
    <h1 class="display-4">Menu</h1>

    <div class="main-menu-button">
        <a asp-controller="VehicleType" asp-action="Index">
            <button class="btn btn-primary">Manage vehicle types</button>
        </a>
    </div>

    <div class="main-menu-button">
        <a asp-controller="Brand" asp-action="Index">
            <button class="btn btn-primary">Manage brands</button>
        </a>
    </div>

    <div class="main-menu-button">
        <a asp-controller="Model" asp-action="Index">
            <button class="btn btn-primary">Manage models</button>
        </a>
    </div>

    <div class="main-menu-button">
        <a asp-controller="FuelType" asp-action="Index">
            <button class="btn btn-primary">Manage fuel types</button>
        </a>
    </div>
    
    <div class="main-menu-button">
        <a asp-controller="Vehicle" asp-action="Index">
            <button class="btn btn-primary">Manage vehicles</button>
        </a>
    </div>
    
    <div class="main-menu-button">
        <a asp-controller="Employee" asp-action="Index">
            <button class="btn btn-primary">Manage employee</button>
        </a>
    </div>
</div>