@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .main-menu-button { margin-bottom: 8px; }
</style>

<div class="text-center">
    <h1 class="display-4">Home</h1>

    <div class="main-menu-button">
        <a asp-controller="Manage" asp-action="Index">
            <button class="btn btn-primary">Management</button>
        </a>
    </div>
    
    <div class="main-menu-button">
        <a asp-controller="Rent" asp-action="Index">
            <button class="btn btn-primary">Rent a Car</button>
        </a>
    </div>
</div>