@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Main menu</h1>

    <a asp-controller="VehicleType" asp-action="Index">
        <button class="btn btn-primary">Manage vehicle types</button>
    </a>
</div>